
<div class="container">
    <div class="row">
        <div class="col-12 azul">

            <div class="card">
                <div class="card-body">
            <h1>Turmas</h1><br>
            <a (click)="new()" class="btn btn-primary">Novo Cadastro</a>
                            
                <table class="table">
                    
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOME</th>
                        <th scope="col">SEMESTRE</th>
                        <th scope="col">ANO</th>
                        <th scope="col">TURNO</th>
                    </tr>
                    </thead>
                    <tbody>
                        @for (turma of lista; track $index) {
                        <tr>
                            <td>{{turma.id}}</td>
                            <td>{{turma.nomeTurma}}</td>
                            <td>{{turma.semestre}}</td>
                            <td>{{turma.ano}}</td>
                            <td>{{turma.turno}}</td>
                            <td class="alinhar">
                            <a (click)="edit(turma)" class="btn btn-primary">Editar</a>
                                <button (click)="delete(turma)" class="btn btn-danger">Deletar</button>
                                </td>
                        </tr>
                    }
                   
                    </tbody>
                </table>

            </div>
        </div>

        </div>
    </div>
</div>




<ng-template #modalTurmaForm>

    <div class="modal-header">
        @if(turmaEdit.id > 0){
            <h5 class="modal-title" id="exampleModalLabel">Editar turma</h5>
        }@else {
            <h5 class="modal-title" id="exampleModalLabel">Nova turma</h5>  
        }
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
        
    </div>
    <div class="modal-body">
        
        <app-turma-form [turma]="turmaEdit" (meuEvento)="retornoTurmaForm($event)"></app-turma-form>

    </div>

</ng-template>